#increment_room, #increment_adult, #increment_children {
    background-color:transparent;
    padding: 1px;
    font-size: 16px;
    border: none;
    color: red;
}

/*#increment_room:active:hover:not([disabled]) {
    color:darkred;
}

#increment_room:disabled{
    color: chartreuse;
}

#decrement_room:enabled {
    color: blue;
}*/

#decrement_room, #decrement_adult, #decrement_children {
    background-color:transparent;
    padding: 1px;
    font-size: 16px;
    border: none;
    color: blue;
}

.div1 {
    color: #042c57;
    position: absolute;
    top: 30%;
    left: 35%;
}
.div2 {
    height: 100px;
    width: 350px;
    border-width: thin;
    border-style:solid;
    text-align: right;
    padding-top: 2mm;
    padding-right: 1mm;
    padding-bottom: 2mm;
    color: #10549B;
}


.div2 #rooms_icon, #adults_icon, #children_icon {
    float: left;
    padding-left: 1mm;
    font-size: 20px;
}
.rooms_text {
    float: left;
    padding-left: 4px;
    font-size: 20px;
}

.adults_text {
    float: left;
    padding-left: 9px;
    font-size: 20px;
}

.children_text {
    float: left;
    padding-left: 9px;
    font-size: 20px;
}

#users_icon, .users_text {
    font-size: 22px;
}
